// Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Components
@import 'components/home/home';
@import 'components/home/home_info';
@import 'components/home/home_slider';
@import 'components/create_edit_form';
@import 'components/catalogue/filter_category';
@import 'components/header';
@import 'components/footer';

// @include link-colors(#00c, #0cc, #c0c, #ccc, #cc0);

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: $font-family-sans-serif;
}
