.router-link {
    text-decoration: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    min-width: 800px !important;
}

/* Responsive layout - when the screen is less than 768px wide, set form width */
@media screen and (max-width: 768px) {
    form {
        min-width: 220px !important;
        max-width: 600px !important;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 2vw 5vw 2vw 5vw;
}

.form-box-container {
    background-color: whitesmoke;
    border-radius: 8px;
    padding: 2vw 0 !important;
}

label {
    padding: 0.1vw 1vw 0.1vw 0;
    margin: 0 6rem 1rem 0 !important;
}

/* Responsive layout - when the screen is less than 768px wide, set label margins */
@media screen and (max-width: 768px) {
    label {
        margin: 1rem 4rem 0 0 !important;
    }
}

input {
    width: 100%;
    border: 0.5px solid;
    border-color: #EBEBEB;
    border-radius: 4px;
    transition: all 0.7s ease;
}

input:focus {
    outline: none;
    background-color: #FFF9DC;
    transform: scale(1.03);
}

select {
    width: 100%;
    border: 0.5px solid;
    border-color: #EBEBEB;
    border-radius: 4px;
    line-height: 2.4;
}

.row {
    display: flex !important;
    justify-content: space-between !important;
    align-items: stretch;
    margin-right: 3rem !important;
    margin-left: 3rem !important;
    line-height: 2.3;
    font-size: 1rem;

}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: right;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    justify-content: space-between;
    clear: both;
}

/* Responsive layout - when the screen is less than 768px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.checkbox-input {
    border-color: #EBEBEB !important;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    color: black !important;
    font-weight: 700;
    font-size: 16px;
    padding: 4px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

.btnCreate {
    background-color: $fcblue;
    color: white !important;
}

.btnCancel {
    background-color: $fcpink;
    color: white !important;
}

.btnCreate[type=submit]:hover {
    background-color: $green;
}

.btnCancel[type=button]:hover {
    background-color: $red;
}

.quitColor {
    color:black;
}

.btnBlanco{
    color: white;
}
