// nav {
//     font-size: 12px;
// }

.navbar {
    display: flex;
    justify-content: center;
}

.nav-item {
    margin-left: 2vw;
}

.navContainer {
    background-color: white;
    display: flex;
    line-height: 0 !important;
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
    max-width: 1440px !important;
}

.nav-link {
    display: flex !important;
    align-items: center;
    margin-bottom: 0 !important;
    padding: 0 1.75rem 0 1.75rem !important;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  font-family: 'Roboto' !important;
}

.nav-link:hover, .nav-link:focus {
  text-decoration-line: underline;
  background-color: #ced4da;
  transition: all .5s;
}

.selected {
  text-decoration-line: underline;
  background-color: #ced4da;
  color: black;
}

@media (min-width: 768px) {
    .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: space-evenly;
        margin-left: 0.1rem !important;
        margin-right: 0.1rem !important;
    }
}


