.registerContainer{
display: flex;
justify-content: center;
}
.formulario{
    display: flex;
    justify-content: center;
}
.infoFormulario {
    text-align: justify;
}
.btnRegister{
    position: absolute;
    background-color: $fcdark;
    margin: 5%;
}

@media only screen and (max-width: 425px){
    .btnRegister{
    position: inherit;
    background-color: $fcdark;
    margin: 10%;
    }
}

@media screen and (max-width: 768px){
    .btnRegister{
        position: relative;
    }
}
