body {
    // background-color: $fcdark !important;
}

.mainFatherContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 1440px;
}

.joinUs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joinUsButton {
    color: $fcdark;
    background-color: $fcdark;
    margin: 0.5em;
    padding: 1em 4em;
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.highlights {
    padding: 2em;
    background-color: $fcdark;
    color: $fcyellow;
}

.highlightsTitle {
    font-size: 2em;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    margin-bottom: 2em;
}

.artworkHighlights {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.artworkCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1em;
    margin-left: 1em;
}

.artwork {
    height: 20em;
    width: auto;
}

.artistName {
  font-weight: 500;
  font-size: 1.5em;
  margin-top: 0.5em;
}

.artworkDetailsBtn {
  border: 1px solid $fcpink;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: $fcpink;
  font-size: 1em;
  padding: 0.5em 0;
  margin-top: 1em;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.artworkDetailsBtn:hover {
  text-decoration: none;
  color: $fcyellow;
  background-color: $fcpink;
}

@media only screen and (max-width: 425px) {
    .artworkSlider {
        width: 80%;
    }
    .highlights {
        width: 80%;
    }
}
