.mainFatherContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    max-width: 1440px;
}

.highlights {
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: $fcdark;
    color: $fcyellow;
}

.highlightsTitle {
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
}

.artworkHighlights {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.artworkCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1em;
    margin-left: 1em;
}

.artwork {
    height: 20em;
    width: auto;
}

.artistName {
  font-weight: 700;
  font-size: 2em;
  margin-top: 20px;
}

.artworkDetailsBtn {
  border: 1px solid black;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: $fcpink;
  font-size: 15px;
  padding: 3px 0;
  margin-top: 5px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.artworkDetailsBtn:hover {
  text-decoration: none;
  color: white;
  background-color: black;
}
